<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.curso.greentech" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GreenTech</name>
    <description>app e-comerce</description>
    <author email="daniel47borges@gmail.com" href="https://cordova.apache.org">
        Danie Borges
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
